body {
    background-color: rgb(228, 244, 252);
    
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gray;
}

.top a {
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.top nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top li {
    font-size: 2em;
    display: inline;
    padding: 20px;
}

li a:hover {
    background-color: white;
}

.meter {
    height: 20px;
    position: relative;
    background: white;
    border: 2px solid black;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.bar1 {
    height: 24px;
    width: 25%;
    background-color: grey;
}

.bar2 {
    height: 24px;
    width: 50%;
    background-color: grey;
}

.bar3 {
    height: 24px;
    width: 75%;
    background-color: grey;
}

.info {
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

input {
    width: 32%;
    padding: 10px;
}

select {
    width: 20%;
    padding: 10px;
}

.name,
.country,
.address {
    padding-top: 30px;
    padding-bottom: 10px;
}

.des-info {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.dtitle {
    width: auto;
}

.des-text {
    flex-grow: 1;
}

textarea {
    width: 80%;
    height: 150px;
    font-size: 1.25rem;
}

.dtitle p {
    font-size: 0.752rem;
    text-align: left;
    font-weight: 300;
    width: 130px;
}

input.larger {
    width: 50px;
    height: 50px;
}

.email {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.pwd,
.rp {
    padding-top: 35px;
    padding-bottom: 10px;
}

.email>input,
.pwd>input,
.rp>input {
    width: 30%;
    padding: 10px;
}

.button {
    float: right;
    background-color: gray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.rb>input,
.rb>label {
    width: 5%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 20%;
    margin-right: 20px;
    padding: 2px;
}

.grid-item {
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}

.img-items {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.img-items img {
    width: 100px;
    height: 100px;
}

.tillykke>img {
    padding-left: 220px;
    width: 250px;
    height: 250px;
}
